body {
    background-color: lightblue;
    padding-top: 30px;
    padding-bottom: 30px;
  }

div.gallery {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    /*border: 1px solid #777;*/
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .center-text {
      text-align: center;
  }

  .project-title {
      font-size: 70px;
  }

  .title-spacer {
      margin-top: 20px;
  }

  .logo-img {
      margin-top: 20px;
      margin-bottom: 15px;
      height: 200px;
  }

  .team-img {
      border: 1px solid black;
      border-radius: 30px;
  }

  .report-link {
      color: #23a5f6;
      text-decoration: none;
  }

.report-link:hover {
      color: #23a5f6;
      text-decoration: none;
  }